<%- include header %>
<ul style="list-style:none">
  <li><h3><a href="http://new.abb.com/cn">ABB官方网站</a></h3>竞争对手ABB相关动态</li>
  <li><h3><a href="http://www.kuka-robotics.com/zh/">KUKA官方网站</a></h3>竞争对手KUKA相关动态</li>
</ul>
<%- include footer %>